# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\研二资料汇总\2021.1.28\FedReID-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
